---
import type { ContentType } from "./content.ts";
import { content } from "./content.ts";

import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
    headings={content.headings}
    frontmatter={{ title: "Example content" }}
>
    {
        content.data.map((e) => (
            <p>
                <h2>{e.header}</h2>
                <p>{e.content}</p>
            </p>
        ))
    }
</StarlightPage>
